<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Hi {{ person }}! I think you are {{compliment}}?
    <p>Would you like to play a game? </p>
    <form action="/game">
      <input type="radio" id="Yes" name="game" value="yes">
      <label for="Yes">Yes</label>
      <br>
      <input type="radio" id="No" name="game" value="no">
      <label for="No">No</label>  
      <br>
      <input type="submit">
    </form>
</body>
</html>

<!-- -->
<!-- p = paragraph tag -->
<!-- form = form -->
<!-- br = break -->
<!-- css = cascading style sheets (going doen = waterfall) -->
<!--for refer to id-->
<!-- command + / -->
<!-- For <button>, <input> and <option> elements, the value attribute specifies the initial value of the element. -->