<!doctype html>
<html>
<head>
  <title>Hi There!</title>
</head>
<body>

<h1>Mad Libs</h1>

<form action="/madlib">
  <label for="person"> Name a person </label>
  <input type="text" id="person" name="person">
  <br>
  
  <label for="color" > Select a color </label>
  <select name="color" id="color">
    <option value="red">Red</option>
    <option value="orange">Orange</option>
    <option value="yellow">Yellow</option>
    <option value="green">Green</option>
    <option value="purple">Purple</option>
  </select>
  <br>
  <label for="noun" > Give us a noun </label>  
  <input type="text" id="noun" name="noun">
  <br>
  <label for="adjective" > Select a adjective </label>
  <select name="adjective" id="adjective">
    <option value="bizarre ">Bizarre</option>
    <option value="whimsical ">Whimsical</option>
    <option value="fuzzy ">Fuzzy</option>
    <option value="arid">Arid</option>
  </select>
  <br>
  <label for="hobby">Pick a hobby</label>
  <input type="checkbox" id="hobby" name="baker" value="baker">
  <label for="hobby">Baker</label>
  <input type="checkbox" id="hobby" name="painter" value="painter">
  <label for="hobby">Painter</label>
  <input type="checkbox" id="hobby" name="fighter" value="fighter">
  <label for="hobby">Fighter</label>
  <input type="checkbox" id="hobby" name="hiker" value="hiker">
  <label for="hobby">Hiker</label>
  <br>
  <input type="submit">
</form>

</body>
</html>


